pin-depends: [
  [ "repr.dev" "git+https://github.com/mirage/repr#6845bd77f82739333d893c07ca7e973908facb05" ]
  [ "ppx_repr.dev" "git+https://github.com/mirage/repr#6845bd77f82739333d893c07ca7e973908facb05" ]
  [ "irmin.dev" "git+https://github.com/mirage/irmin#e4ec02eafd394f96a36c390f7d61af9ce223404a" ]
  [ "irmin-layers.dev" "git+https://github.com/mirage/irmin#e4ec02eafd394f96a36c390f7d61af9ce223404a" ]
  [ "irmin-pack.dev" "git+https://github.com/mirage/irmin#e4ec02eafd394f96a36c390f7d61af9ce223404a" ]
  [ "ppx_irmin.dev" "git+https://github.com/mirage/irmin#e4ec02eafd394f96a36c390f7d61af9ce223404a" ]
  [ "index.dev" "git+https://github.com/mirage/index#1132a0b7550c1c75b7ac680202c8e01e398a5e85" ]
]
